---
import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout title="About | Benoit Modica" description="About Benoit Modica">
  <div class="stack gap-20">
    <main class="wrapper about">
      <Hero
        title="À propos"
        tagline="Découvrez mon parcours et mes compétences"
      >
        <!--<img
					width="300"
					height="873"
					src="/assets/portrait.jpg"
					alt="Benoit Modica at work"
				/>-->
      </Hero>

      <section>
        <h2 class="section-title">Background</h2>
        <div class="content">
          <p>
            Je m'appelle Benoit Modica, et ma carrière dans l'informatique
            débute par une reconversion professionnelle en 2021. Depuis lors,
            j'ai exploré divers métiers dans le domaine de la tech. J'ai
            successivement occupé des fonctions de développeur, de designer
            UI/UX, d'analyste data et de consultant MOA/MOE, acquérant ainsi une
            solide expérience.
          </p>
          <p>
            Ce qui me distingue le plus, c'est ma capacité à m'adapter à de
            nouveaux environnements et à assimiler de nouvelles technologies et
            compétences. Doté d'une ouverture d'esprit, je considère la
            communication et le partage de connaissances comme des valeurs
            essentielles.
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Diplômes</h2>
        <div class="content">
          <p>BAC+2 Développeur web & web mobile(RNCP)</p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Skills</h2>
        <div class="content">
          <h3 class="title-skills">Stack technique</h3>
          <p class="p-skills">
            <span class="span-skills">Langage informatique:</span> HTML, CSS, JavaScript,
            PHP
          </p>
          <p class="p-skills">
            <span class="span-skills">Framework:</span> Symfony, React JS, Node JS
          </p>
        </div>
        <h3 class="title-skills">Soft skills</h3>
        <p class="p-skills">
          Curiosité, Adaptabilité, Esprit d'analyse, Polyvalence, Autonomie,
          Pédagogie
        </p>
      </section>
    </main>
  </div>

  <ContactCTA />
</BaseLayout>

<style>
  .title-skills {
    font-size: var(--text-xl);
    color: var(--gray-200);
  }

  .span-skills {
    font-weight: bold;
  }

  .about {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }

  .p-skills {
    margin-top: 15px;
  }

  img {
    margin-top: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-200);
  }

  .section-title {
    grid-column-start: 1;
    font-size: var(--text-xl);
    color: var(--gray-0);
  }

  .content {
    grid-column: 2 / 4;
  }

  .content :global(a) {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  .content :global(a:hover),
  .content :global(a:focus) {
    text-decoration-color: currentColor;
  }

  @media (min-width: 50em) {
    .about {
      display: grid;
      grid-template-columns: 1fr 60% 1fr;
    }

    .about > :global(:first-child) {
      grid-column-start: 2;
    }

    section {
      display: contents;
      font-size: var(--text-lg);
    }
  }
</style>
